/* generate style */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edebeb;
    text-align: center;
    margin:2px;
    padding: 0;
}
/*Header*/
header{
    background-color:#ff6600 ;
    color: rgb(244, 247, 250);
    padding:30px; 
    font-size:20px ;
    text-align: center;
    
    
    

}
header img {
    position:absolute;
    left:1px;
    width:250px;
    height: 170px;
    top:0.5px;
    bottom:0.5px;
      

}
 

header nav ul{
    list-style: none;
    position:absolute;
    top: 95px;
    right:30px;
    

}
    
    

header nav ul li{
    display:inline;
    margin:10px;
    
    
}
header nav ul  li a {
    text-decoration: none;
    color: aliceblue;
}
.about-content img{
    width: 600px;
    height: 400px;
    opacity: 0.5px;
    border:3px solid orangered;
    position: relative;
    top:10px;
    box-shadow: 1px solid  #333;
    padding:3px;
    transition: 0.3s;
    
    

    
}


 .about-content  img:hover{
    border:3px solid orangered;
    padding:3px;
    transform: scaleX(1.05);
 }

/* about us */
#About h1{
    font-size: 30px;
    position: relative;
    top:20px;
    
}
#About p {
    justify-content: center;
    text-indent:48px ;
    white-space:wrap;
    font-size:20px ;
}

/* Menu Section */
#Menu {
    padding: 20px;

}

#Menu h2 {
    color: #ff6600;
    font-size: 28px;
    margin-bottom: 20px;
    bottom:2px;
    
}
    


/* Menu Container */
.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    
}

/* Menu Item */
.menu-item {
    background: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
    
}

.menu-item:hover {
    border-color: #ff6600;
    transform: scale(1.05);
}

/* Image */
.menu-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* Dish Name */
.menu-item h3 {
    margin: 10px 0;
    color: #333;
    
}


/* Description */
.menu-item p {
    font-size: 14px;
    color: #666;

}


/* Price */
.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #ff6600;
    margin-top: 10px;
}
/* Contact Section */
#contact {
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
}




/* Footer */
footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}