body {
    background-color: whitesmoke;
    box-sizing: border-box;
    max-width: 992px;
}

@media screen and (max-width: 992px) {
    body {
        background-color: whitesmoke;
        box-sizing: border-box;
        height: 900px;
    }
}

img {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 150px;
    left: 830px;
    border: 6px solid #f46c00;
    image-orientation: flip;
    opacity: 10px;
   
    
}

.circle, .circle1, .circle2, .circle3 {
    position: relative;
    border-radius: 50%;
    background-color: #f46c00;
}

.circle { width: 90px; height: 90px; top: -500px; left: 1350px; }
.circle1 { width: 75px; height: 75px; top: -490px; left: 1390px; }
.circle2 { width: 60px; height: 60px; top: -480px; left: 1420px; }
.circle3 { width: 50px; height: 50px; top: -470px; left: 1450px; }

.anjali {
    position: relative;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-bottom: 170px solid #f46c00;
    top: -250px;
    left: 1320px;
}

.anjali1 {
    position: relative;
    width: 0;
    height: 0;
    border-right: 200px solid transparent;
    border-top: 170px solid #f46c00;
    top: -980px;
    left: 2px;
}

.menu {
    font-size: 55px;
    position: relative;
    top: -1050px;
    left: 100px;
    border: 5px solid #f46c00;
    width: 500px;
    height: 518px;
    padding-right: 551px;
    padding-left: 200px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    position: relative;
    top: -1710px;
    left: 350px;
}

h2 {
    color: #f46c00;
    font-size: 80px;
    font-family: monospace;
    position: absolute;
    top: 150px;
    left: 220px;
}

.food {
    font-size: 19px;
    position: absolute;
    top: 450px;
    left: 150px;
}

.button {
    width: 100px;
    background-color: #f46c00;
    color: white;
    font-size: 17px;
    padding: 5px;
    border: 4px solid #f46c00;
    border-radius: 3px;
    position: absolute;
    left: 250px;
    top: 100px;
}

.button:hover {
    width: 110px;
    height: 40px;
    background-color: #f40707;
    border: 3px solid #f40707;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #f46c00;
    border-radius: 50%;
    font-size: 20px;
    color: #f46c00;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    position: relative;
    top: 50px;
    left: 400px;
}

.home-sci a:hover {
    background: #e9490a;
    color: #e9e8e7;
    box-shadow: 0 0 20px #e9490a;
}

/* Keep your existing styles... */

.offers {
    display: none;
    position: absolute;
    top: 550px;
    left: 860px;
    background-color: #fff;
    border: 2px solid #f46c00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 250px;
    font-family: Arial, sans-serif;
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
    transition: all 0.6s ease;
}

.offers.show {
    display: block;
    opacity: 1;
    transform: scale(1) rotate(0deg);
    animation: sparkle 1s ease infinite alternate;
}

.offers p {
    font-weight: bold;
    color: #f46c00;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.offers ul li {
    margin: 5px 0;
    transition: transform 0.3s, color 0.3s;
}

.offers ul li:hover {
    transform: translateX(10px);
    color: #f40707;
}

@keyframes sparkle {
    0% { box-shadow: 0 0 10px #f46c00; }
    50% { box-shadow: 0 0 20px #f46c00, 0 0 40px #f46c00; }
    100% { box-shadow: 0 0 10px #f46c00; }
}

/* Star sparkle animation */
#star-icon.sparkle i {
    animation: star-sparkle 1s ease infinite alternate;
}

@keyframes star-sparkle {
    0% { text-shadow: 0 0 5px #f46c00; transform: rotate(0deg) scale(1); }
    50% { text-shadow: 0 0 15px #f46c00, 0 0 30px #f46c00; transform: rotate(15deg) scale(1.2); }
    100% { text-shadow: 0 0 5px #f46c00; transform: rotate(0deg) scale(1); }
}